rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para una colección 'bookings' en la raíz.
    match /bookings/{bookingId} {
      allow read, create: if true;
      allow update, delete: if false;
    }

    // Regla para una colección 'bookings' anidada un nivel más abajo
    // (ej: /stylists/{stylistId}/bookings/{bookingId})
    match /{path=**}/bookings/{bookingId} {
      allow read, create: if true;
      allow update, delete: if false;
    }

    // Allow read access to services
    match /services/{serviceId} {
      allow read: if true;
    }

    // Allow read access to stylists
    match /stylists/{stylistId} {
      allow read: if true;
    }
  }
}
