@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 52% 10%; 
    --foreground: 285 43% 93%;
    --card: 261 52% 15%;
    --card-foreground: 285 43% 93%;
    --popover: 261 52% 10%;
    --popover-foreground: 285 43% 93%;
    --primary: 261 52% 60%;
    --primary-foreground: 261 52% 10%;
    --secondary: 261 52% 25%;
    --secondary-foreground: 285 43% 93%;
    --muted: 261 52% 20%;
    --muted-foreground: 285 43% 70%;
    --accent: 335 77% 56%;
    --accent-foreground: 261 52% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 285 43% 93%;
    --border: 261 52% 25%;
    --input: 261 52% 25%;
    --ring: 261 52% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
